
@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
    font-family: Roboto, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #343a40;
}

  a:hover {
    color: #b1aeae;
}

#socialNav a+a {
    margin-left: 0.5em;

}

#socialNav a {
    display: inline-block;
}

.titreArticle{
    font-size: 1.3em;
    height: auto;
}

.texteArticle{
    text-align: justify;
}

.blocArticle{
    margin: 5px;
}

.formulaireContact{
    margin-left: 20px;
    margin-right: 20px;
}

